
#wrapper {

width:70%;
margin:auto;

}

div#hero img {
  width: 100%;

}

}

ul#social {
list-style-type: none;
}

ul#social li{
list-style-type: none;
 float: right;
}

ul#social li img {
  width: 10%;
  height: 15%;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
background-color: #ffe4e1; 
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #ffb6c1;
}

.grid-container {​​
display: grid;
grid-template-columns:auto auto auto;
background-color: #ffffff;
padding: 10px;
}​​
.grid-item {​​
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}​​
